In [96]:
from pymongo import MongoClient
import pandas as pd

In [97]:
#connect to mongoDB
client = MongoClient("mongodb://localhost:27017/")
db = client.learning
collection = db.courses

In [98]:
#Fetch data
data = list(collection.find({}))
df = pd.DataFrame(data)

#save to CSV
df.to_csv("courses.csv", index=False)

print(df.head())

                        _id             category             title  \
0  677ecb3ad60271cc5e433288             Business  Business Related
1  677fff824b252bc2198f4b9a       Art and Design           Drawing
2  678019be4b252bc2198f4ba9  Health and Wellness             mafas
3  6786a708c8c250b9efa7cff5           Humanities             bnm,.
4  6786d446c19b5940ff176c74            Languages        ajit kumar

         tutor  duration           description                    image  \
0  Kandy Tutor         3  Hi hellow i am mafas  image-1736362810912.png
1        Royal         3             ajkabskja  image-1736441730633.png
2         mafa         5                sjankx  image-1736448446219.png
3        njknj         5                 nknkj  image-1736878408519.png
4        bkhbk         5                bbkbkj  image-1736889414116.jpg

                     video                   tutorId               createdAt  \
0  video-1736362810915.mp4  677ecaecd60271cc5e433285 2025-01-08 19:00:10.952
1  video-1736441730781.mp4  677fff4a4b252bc2198f4b95 2025-01-09 16:55:30.825
2  video-1736448446222.mp4  677fff4a4b252bc2198f4b95 2025-01-09 18:47:26.574
3  video-1736878408602.mp4  677ecaecd60271cc5e433285 2025-01-14 18:03:52.301
4  video-1736889414117.mp4  677ecaecd60271cc5e433285 2025-01-14 21:16:54.477

                updatedAt  __v
0 2025-01-08 19:00:10.952    0
1 2025-01-09 16:55:30.825    0
2 2025-01-09 18:47:26.574    0
3 2025-01-14 18:13:28.610    0
4 2025-01-14 21:16:54.477    0

In [99]:
df = pd.read_csv("courses.csv")

In [100]:
#Drop Irrelevent coulmns
columns_to_drop = ['image','video','createdAt','updatedAt']

df.drop(columns=columns_to_drop, inplace=True)

In [101]:
df

,_id,category,title,tutor,duration,description,tutorId,__v
0,677ecb3ad60271cc5e433288,Business,Business Related,Kandy Tutor,3,Hi hellow i am mafas,677ecaecd60271cc5e433285,0
1,677fff824b252bc2198f4b9a,Art and Design,Drawing,Royal,3,ajkabskja,677fff4a4b252bc2198f4b95,0
2,678019be4b252bc2198f4ba9,Health and Wellness,mafas,mafa,5,sjankx,677fff4a4b252bc2198f4b95,0
3,6786a708c8c250b9efa7cff5,Humanities,"bnm,.",njknj,5,nknkj,677ecaecd60271cc5e433285,0
4,6786d446c19b5940ff176c74,Languages,ajit kumar,bkhbk,5,bbkbkj,677ecaecd60271cc5e433285,0
5,6787791b474d01f1c140056c,Technology,ssssss,sssss,2,ress,678778e0474d01f1c1400567,0
6,67893fe1bbd0b71e33409d51,Technology,wdswddw,qwdwqd,2,sjksnqws,677ecaecd60271cc5e433285,0
7,67893ffabbd0b71e33409d53,Technology,shbhcjs,njdxkwq,4,dwkdjqn,677ecaecd60271cc5e433285,0
8,6789402ebbd0b71e33409d56,Technology,nawdknqw,ndjkan,7,ajxjkax,677ecaecd60271cc5e433285,0
9,6789406bbbd0b71e33409d5a,Technology,cmnasx,sx asmx,2,",ac ajs",677ecaecd60271cc5e433285,0
10,679271dc67c310cb20d402fa,Engineering,Engineering Course,Somthing Else,4,Dont wory,677ecaecd60271cc5e433285,0

In [102]:
#Normalized Text Columns

def clean_text(text):
    if pd.isnull(text):
        return ""
    text = text.lower()  # Convert to lowercase
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)  # Remove special characters
    return text.strip()

In [103]:
df

,_id,category,title,tutor,duration,description,tutorId,__v
0,677ecb3ad60271cc5e433288,Business,Business Related,Kandy Tutor,3,Hi hellow i am mafas,677ecaecd60271cc5e433285,0
1,677fff824b252bc2198f4b9a,Art and Design,Drawing,Royal,3,ajkabskja,677fff4a4b252bc2198f4b95,0
2,678019be4b252bc2198f4ba9,Health and Wellness,mafas,mafa,5,sjankx,677fff4a4b252bc2198f4b95,0
3,6786a708c8c250b9efa7cff5,Humanities,"bnm,.",njknj,5,nknkj,677ecaecd60271cc5e433285,0
4,6786d446c19b5940ff176c74,Languages,ajit kumar,bkhbk,5,bbkbkj,677ecaecd60271cc5e433285,0
5,6787791b474d01f1c140056c,Technology,ssssss,sssss,2,ress,678778e0474d01f1c1400567,0
6,67893fe1bbd0b71e33409d51,Technology,wdswddw,qwdwqd,2,sjksnqws,677ecaecd60271cc5e433285,0
7,67893ffabbd0b71e33409d53,Technology,shbhcjs,njdxkwq,4,dwkdjqn,677ecaecd60271cc5e433285,0
8,6789402ebbd0b71e33409d56,Technology,nawdknqw,ndjkan,7,ajxjkax,677ecaecd60271cc5e433285,0
9,6789406bbbd0b71e33409d5a,Technology,cmnasx,sx asmx,2,",ac ajs",677ecaecd60271cc5e433285,0
10,679271dc67c310cb20d402fa,Engineering,Engineering Course,Somthing Else,4,Dont wory,677ecaecd60271cc5e433285,0

In [104]:
import re  # Add this line to import the re module

def clean_text(text):
    if not isinstance(text, str):
        return ""
    text = text.lower() 
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text) 
    return text.strip()

text_columns = ['category', 'title', 'tutor', 'description']
for col in text_columns:
    df[col] = df[col].apply(clean_text)

print(df)

                         _id             category               title  \
0   677ecb3ad60271cc5e433288             business    business related
1   677fff824b252bc2198f4b9a       art and design             drawing
2   678019be4b252bc2198f4ba9  health and wellness               mafas
3   6786a708c8c250b9efa7cff5           humanities                 bnm
4   6786d446c19b5940ff176c74            languages          ajit kumar
5   6787791b474d01f1c140056c           technology              ssssss
6   67893fe1bbd0b71e33409d51           technology             wdswddw
7   67893ffabbd0b71e33409d53           technology             shbhcjs
8   6789402ebbd0b71e33409d56           technology            nawdknqw
9   6789406bbbd0b71e33409d5a           technology              cmnasx
10  679271dc67c310cb20d402fa          engineering  engineering course

            tutor  duration           description                   tutorId  \
0     kandy tutor         3  hi hellow i am mafas  677ecaecd60271cc5e433285
1           royal         3             ajkabskja  677fff4a4b252bc2198f4b95
2            mafa         5                sjankx  677fff4a4b252bc2198f4b95
3           njknj         5                 nknkj  677ecaecd60271cc5e433285
4           bkhbk         5                bbkbkj  677ecaecd60271cc5e433285
5           sssss         2                  ress  678778e0474d01f1c1400567
6          qwdwqd         2              sjksnqws  677ecaecd60271cc5e433285
7         njdxkwq         4               dwkdjqn  677ecaecd60271cc5e433285
8          ndjkan         7               ajxjkax  677ecaecd60271cc5e433285
9         sx asmx         2                ac ajs  677ecaecd60271cc5e433285
10  somthing else         4             dont wory  677ecaecd60271cc5e433285

    __v
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0

In [105]:
df

,_id,category,title,tutor,duration,description,tutorId,__v
0,677ecb3ad60271cc5e433288,business,business related,kandy tutor,3,hi hellow i am mafas,677ecaecd60271cc5e433285,0
1,677fff824b252bc2198f4b9a,art and design,drawing,royal,3,ajkabskja,677fff4a4b252bc2198f4b95,0
2,678019be4b252bc2198f4ba9,health and wellness,mafas,mafa,5,sjankx,677fff4a4b252bc2198f4b95,0
3,6786a708c8c250b9efa7cff5,humanities,bnm,njknj,5,nknkj,677ecaecd60271cc5e433285,0
4,6786d446c19b5940ff176c74,languages,ajit kumar,bkhbk,5,bbkbkj,677ecaecd60271cc5e433285,0
5,6787791b474d01f1c140056c,technology,ssssss,sssss,2,ress,678778e0474d01f1c1400567,0
6,67893fe1bbd0b71e33409d51,technology,wdswddw,qwdwqd,2,sjksnqws,677ecaecd60271cc5e433285,0
7,67893ffabbd0b71e33409d53,technology,shbhcjs,njdxkwq,4,dwkdjqn,677ecaecd60271cc5e433285,0
8,6789402ebbd0b71e33409d56,technology,nawdknqw,ndjkan,7,ajxjkax,677ecaecd60271cc5e433285,0
9,6789406bbbd0b71e33409d5a,technology,cmnasx,sx asmx,2,ac ajs,677ecaecd60271cc5e433285,0
10,679271dc67c310cb20d402fa,engineering,engineering course,somthing else,4,dont wory,677ecaecd60271cc5e433285,0

In [106]:
#Handle missing values
df.fillna('', inplace=True)

In [107]:
df

,_id,category,title,tutor,duration,description,tutorId,__v
0,677ecb3ad60271cc5e433288,business,business related,kandy tutor,3,hi hellow i am mafas,677ecaecd60271cc5e433285,0
1,677fff824b252bc2198f4b9a,art and design,drawing,royal,3,ajkabskja,677fff4a4b252bc2198f4b95,0
2,678019be4b252bc2198f4ba9,health and wellness,mafas,mafa,5,sjankx,677fff4a4b252bc2198f4b95,0
3,6786a708c8c250b9efa7cff5,humanities,bnm,njknj,5,nknkj,677ecaecd60271cc5e433285,0
4,6786d446c19b5940ff176c74,languages,ajit kumar,bkhbk,5,bbkbkj,677ecaecd60271cc5e433285,0
5,6787791b474d01f1c140056c,technology,ssssss,sssss,2,ress,678778e0474d01f1c1400567,0
6,67893fe1bbd0b71e33409d51,technology,wdswddw,qwdwqd,2,sjksnqws,677ecaecd60271cc5e433285,0
7,67893ffabbd0b71e33409d53,technology,shbhcjs,njdxkwq,4,dwkdjqn,677ecaecd60271cc5e433285,0
8,6789402ebbd0b71e33409d56,technology,nawdknqw,ndjkan,7,ajxjkax,677ecaecd60271cc5e433285,0
9,6789406bbbd0b71e33409d5a,technology,cmnasx,sx asmx,2,ac ajs,677ecaecd60271cc5e433285,0
10,679271dc67c310cb20d402fa,engineering,engineering course,somthing else,4,dont wory,677ecaecd60271cc5e433285,0

In [108]:
#Ensure numeric columns
df['duration'] = pd.to_numeric(df['duration'], errors='coerce')  # Convert to numeric
df['duration'] = df['duration'].fillna(0)  # Fill missing durations with 0

In [109]:
df

,_id,category,title,tutor,duration,description,tutorId,__v
0,677ecb3ad60271cc5e433288,business,business related,kandy tutor,3,hi hellow i am mafas,677ecaecd60271cc5e433285,0
1,677fff824b252bc2198f4b9a,art and design,drawing,royal,3,ajkabskja,677fff4a4b252bc2198f4b95,0
2,678019be4b252bc2198f4ba9,health and wellness,mafas,mafa,5,sjankx,677fff4a4b252bc2198f4b95,0
3,6786a708c8c250b9efa7cff5,humanities,bnm,njknj,5,nknkj,677ecaecd60271cc5e433285,0
4,6786d446c19b5940ff176c74,languages,ajit kumar,bkhbk,5,bbkbkj,677ecaecd60271cc5e433285,0
5,6787791b474d01f1c140056c,technology,ssssss,sssss,2,ress,678778e0474d01f1c1400567,0
6,67893fe1bbd0b71e33409d51,technology,wdswddw,qwdwqd,2,sjksnqws,677ecaecd60271cc5e433285,0
7,67893ffabbd0b71e33409d53,technology,shbhcjs,njdxkwq,4,dwkdjqn,677ecaecd60271cc5e433285,0
8,6789402ebbd0b71e33409d56,technology,nawdknqw,ndjkan,7,ajxjkax,677ecaecd60271cc5e433285,0
9,6789406bbbd0b71e33409d5a,technology,cmnasx,sx asmx,2,ac ajs,677ecaecd60271cc5e433285,0
10,679271dc67c310cb20d402fa,engineering,engineering course,somthing else,4,dont wory,677ecaecd60271cc5e433285,0

In [110]:
print(df.dtypes)

_id            object
category       object
title          object
tutor          object
duration        int64
description    object
tutorId        object
__v             int64
dtype: object

In [111]:
#Encode tutorID

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['tutorId'] = encoder.fit_transform(df['tutorId'])

In [112]:
df['combined_text'] = df['category'] + '' + df['title'] + '' + df['description']

In [113]:
df

,_id,category,title,tutor,duration,description,tutorId,__v,combined_text
0,677ecb3ad60271cc5e433288,business,business related,kandy tutor,3,hi hellow i am mafas,0,0,businessbusiness relatedhi hellow i am mafas
1,677fff824b252bc2198f4b9a,art and design,drawing,royal,3,ajkabskja,1,0,art and designdrawingajkabskja
2,678019be4b252bc2198f4ba9,health and wellness,mafas,mafa,5,sjankx,1,0,health and wellnessmafassjankx
3,6786a708c8c250b9efa7cff5,humanities,bnm,njknj,5,nknkj,0,0,humanitiesbnmnknkj
4,6786d446c19b5940ff176c74,languages,ajit kumar,bkhbk,5,bbkbkj,0,0,languagesajit kumarbbkbkj
5,6787791b474d01f1c140056c,technology,ssssss,sssss,2,ress,2,0,technologyssssssress
6,67893fe1bbd0b71e33409d51,technology,wdswddw,qwdwqd,2,sjksnqws,0,0,technologywdswddwsjksnqws
7,67893ffabbd0b71e33409d53,technology,shbhcjs,njdxkwq,4,dwkdjqn,0,0,technologyshbhcjsdwkdjqn
8,6789402ebbd0b71e33409d56,technology,nawdknqw,ndjkan,7,ajxjkax,0,0,technologynawdknqwajxjkax
9,6789406bbbd0b71e33409d5a,technology,cmnasx,sx asmx,2,ac ajs,0,0,technologycmnasxac ajs
10,679271dc67c310cb20d402fa,engineering,engineering course,somthing else,4,dont wory,0,0,engineeringengineering coursedont wory

In [114]:
df.to_csv("cleaned_courses.csv", index=False)

In [115]:
#Recomendation

In [116]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

In [117]:
#Build the recomendation system   Content Based filtering
#convert text features into numerical representation (e.g. TF-IDF)

In [118]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['combined_text'])

#Compute similarity matrix
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [119]:
def get_recommendations(title, df, cosine_sim):
    if title not in df['title'].values:
        return f"Title '{title}' not found in the dataset."
    
    idx = df[df['title'] == title].index[0]

    sim_scores = list(enumerate(cosine_sim[idx]))

    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    sim_scores = sim_scores[1:6]
    course_indices = [i[0] for i in sim_scores]

    return df['title'].iloc[course_indices]

In [120]:
recommendations = get_recommendations('ajit kumar', df, cosine_sim)

if isinstance(recommendations, str):  
    print(recommendations)
else:
    print("Recommended Courses:")
    print(recommendations)

Recommended Courses:
0    business related
1             drawing
2               mafas
3                 bnm
5              ssssss
Name: title, dtype: object